<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="../styles/fallasEstilo.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Localización de Dispositivos</title>
</head>

<body>
<!--cd-->
    <header class="encabezado">
        
        <nav>
            <ul>

                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../Localizacion-Dispositivos/Dispositivos.html" >Localizar Dispositivos</a></li>
                <li><a href="../Redes-Inventario/">Inventario</a></li>
                <li><a href="../planes/">Planes de Prevención</a></li>
                <li><a href="../seguimiento_Fallas/">Seguimiento de Fallas </a></li>
                <li><a href="#report">Configuraciones</a></li>
            </ul>
        </nav>
        
       <h1> Seguimiento de fallas </h1>
    </header>

    <div class="contenedor">
        <div class="divFormulario">
            <h2> Formulario </h2>

            <form action="/validar" id="formulario">
                <input type="text" id="nombre" placeholder="Nombre de la falla">
                <input type="text" id="descripcion" placeholder="Descripción de la falla">
                <button type="submit" id="btnAgregar">Agregar</button>
            </form>
        </div>

        <div class="divListado">
            <h2> Lista de Fallas </h2>
            <div class="div-fallas">

            </div>
        </div>
    </div>
    <script src="../seguimiento_Fallas/app.js">
        
    </script>
</body>

</html>