/*Ventana modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*------------ fin de ventana modal ---------------*/


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.encabezado {
  text-align: center;

}

.encabezado h1 {
  font-weight: 350;
}

.contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Estilos del formulario*/
.contenedor .divFormulario {
  width: 30%;
  height: 250px;
  margin: 15px 15px;
  background-color: #222943;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

.contenedor .divFormulario h2 {
  margin-top: 10px;
  font-weight: 200;
  font-size: 2em;
  color: #f3eae8;
}

.contenedor .divFormulario form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.contenedor .divFormulario form input,
.contenedor .divFormulario form button {
  width: 60%;
  padding: 10px 10px;
  margin: 10px 10px;
}

/*Estilo de la lista*/
.contenedor .divListado {
  width: 55%;
  height: calc(100% - 50px);
  margin: 15px 15px;
  background-color: #222943;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}

.contenedor .divListado h2 {
  margin-top: 10px;
  font-weight: 200;
  font-size: 2em;
  color: #f3eae8;
}

.contenedor .divListado .div-fallas {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  padding: 0 30px;
}

.contenedor .divListado .div-fallas p {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1em;
  color: #ddd;
  width: 100%;
}

hr {
  width: 100%;
  height: 1px;
}

.btn {
  padding: 5px 10px;
  border: none;
  margin: 0 5px;
  color: white;
  border-radius: 50px;
}

.btn-editar {
  background-color: green;
}

.btn-eliminar {
  background-color: red;
}

/* encabezado NAV*/
nav {
  background-color: #121813;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  /* Centra los elementos */
}

nav ul li {
  display: inline-block;
  /* Muestra los elementos en línea horizontal */
}

nav ul li a {
  display: block;
  color: #f3eae8;
  text-decoration: none;
  padding: 15px 20px;
}

nav ul li a:hover {
  background-color:#555;}