body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(237, 243, 241);
    align-items: center;
    align-content: center;
}

.navbar {
    overflow: hidden;
    background-color: #121813; 
}


.navbar a {
    float: left;
    display: block;
    color: #f2f2f2; /* Text color */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.lowSpace{
  width: 5%;
}

.navbar a:hover {
    background-color: #ddd; /* Background*/
}
.table-container input:hover{
  background-color: aqua;
}
.table-container2 input:hover{
  background-color: aqua;
}
.input-submiter1{
  text-indent: -99999px;
  background: url("../Redes-Inventario/icons/iconD.png");
  border:none;
  cursor:pointer;
}
.input-submiter2{
  text-indent: -99999px;
  background: url("../Redes-Inventario/icons/iconE.png");
  border:none;
  cursor:pointer;
}

.table-container {
    margin: 30px; /* Add margin to the container */
}
.table-container2 {
  margin: 30px; /* Add margin to the container */
}
.borders-table-align{
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
  text-align: center;
}
.table-container table {
    width: 100%;
    border-collapse: collapse;
    background-color: burlywood;
}
.table-container2 table {
  width: 100%;
  border-collapse: collapse;
  background-color: burlywood;
} 
.table-container td {
    border: 1px solid #0f0e0e;
    padding: 8px;
    text-align: left;
  }
  .table-container ol {
    padding-left: 20px;
    list-style-type: none;
  }
  .table-container li {
    margin-bottom: 8px;
  }

  .table-container2 td {
    border: 1px solid #0f0e0e;
    padding: 8px;
    text-align: left;
  }
  .table-container2 ol {
    padding-left: 20px;
    list-style-type: none;
  }
  .table-container2 li {
    margin-bottom: 8px;
  }

  .formContent form {
    max-width: 400px;
    margin: 20px auto;
}

.formContent label {
    display: block;
    margin-bottom: 5px;
}

.formContent input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.formContent input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.formContent input[type="submit"]:hover {
    background-color: #45a049;
}